<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>

</head>
<body>

<div layout:fragment="content" class="pt-4">

    <div class="alert alert-danger" role="alert"
         th:if="${error}" th:text="${error}">
    </div>

    <div class="alert alert-success" role="alert"
         th:if="${msg}" th:text="${msg}">
    </div>

    <form action="#" th:action="@{/pay}" th:object="${payForm}" method="POST">
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex justify-content-between align-content-center">
                    <h3>Send Money</h3>
                    <a th:href="@{/connections}" class="btn btn-primary">
                        Add Connection
                    </a>
                </div>
                <div>
                    <span th:text="'Transaction Min: 0.20 / Max :' + ${maxAmount}"></span>
                    <br>
                    <span>Tax : 5%</span>
                </div>
            </div>
            <div class="card-body d-flex">
                <div class="input-group mx-2">
                    <select class="form-select" id="connectionList"
                            th:field="*{connectionId}">
                        <option value="-1">Select a Connection</option>
                        <option th:each="connection: ${user.connections}"
                                th:value="${connection.id}"
                                th:text="${connection.fullname()}">
                    </select>
                </div>
                <input class="form-control" type="number" id="amount"
                       step="0.01"
                       placeholder="Select an Amount"
                       th:field="*{amount}"
                       min="0.2" th:max="${maxAmount}">
                <input class="form-control mx-2" type="number" id="amount-tax"
                       placeholder="Amount with Tax"
                       disabled="disabled">
                <button class="btn btn-success mx-2" type="submit"
                        style="min-width: 100px">
                    Pay
                </button>
            </div>
        </div>
    </form>

    <div class="card mb-4">
        <div class="card-header">
            <h3>My Transactions</h3>
        </div>
        <div class="card-body d-flex">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Connection</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="t : ${transactions}">
                    <td>
                        <span th:text="${t.from.fullname()}"></span>
                        <span>-></span>
                        <span th:text="${t.to.fullname()}"></span>
                    </td>
                    <td>...</td>
                    <td th:text="${t.formatAmount()}"></td>
                    <td th:text="${t.date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div layout:fragment="script">
    <script>
        $(function () {
            var floor = bigDecimal.RoundingModes.FLOOR;
            $('#amount').keyup(function () {
                let amount = bigDecimal.round($(this).val(), 2);
                let withTax = bigDecimal.round(bigDecimal.add(amount, bigDecimal.multiply(amount, '0.05')), 2, floor);
                $('#amount-tax').val(withTax)
            })
        })
    </script>
</div>
</body>
</html>